{% comment %}
{% capture comment_message %}
{% endcapture %}
{% include comment_handler.html comment_message=comment_message %}
{% endcomment %}

{% assign parse_sub_arrays = 'no' %}

<h2>GitHub API information available</h2>
{% for responce in site.github %}
  {% case responce in %}
    {% when "contributors" or "public_repositories" or "versions" %}
<h3>Known array in array: {{responce}}</h3><p>Perant for loop info</p>
{% capture comment_message %}
    Example direct call: site.github.{{responce}}
    Variable or array name  | Current value held
    ------------------------|-------------------
    forloop.index0          | {{forloop.index0}}
    responce                | {{responce}}
{% endcapture %}
      {% include comment_handler.html comment_message=comment_message message_formatting=md %}
      {% if parse_sub_arrays == 'yes' %}
        {% assign sub_array = site.github[responce] | split: "," %}
        {% for sub_index in sub_array %}
          {% assign var_arr_name = sub_index | split: '=>' | first | remove: "[" | remove: '{' | remove: '"' | lstrip %}
          {% assign var_arr_value = sub_index | split: '=>' | last | remove: "]" | remove: '}' | remove: '"' | rstrip %}
{% capture comment_message_two %}
    Variable or array name | Current value held
    -----------------------|-------------------
    forloop.index0         | {{forloop.index0}}
    sub_index              | {{sub_index}}
    var_arr_name           | {{var_arr_name}}
    var_arr_value          | {{var_arr_value}}
{% endcapture %}
<h4>Sub array info</h4>
          {% include comment_handler.html comment_message=comment_message_two message_formatting=md %}
        {% endfor %}
      {% endif %}
    {% else %}
<h3>String value within: {{responce}}</h3>
{% capture comment_message %}
    Example direct call: site.github.{{responce}}
    Variable or array name  | Current value held
    ------------------------|-------------------
    forloop.index0          | {{forloop.index0}}
    responce                | {{responce}}
    site.github[responce]   | {{site.github[responce]}}
{% endcapture %}
    {% include comment_handler.html comment_message=comment_message message_formatting=md %}
  {% endcase %}
{% endfor %}
