<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
  </head>

  <body>

      {% include header.html %}

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <div class="container">
      <section id="footer">
        {% include footer.html %}
      </section>
    </div>

  </body>
</html>
